<p>This <b>Java Online Test</b> simulates a real online certification exams. You will be presented Multiple Choice Questions (MCQs) based on <b>Core Java Concepts</b>, where you will be given four options. You will select the best suitable answer for the question and then proceed to the next question without wasting given time. You will get your online test score after finishing the complete test.</p>
<div id="stage">
<button type="button" class="btn btn-primary btn-lg">
    <a routerLink="../quiz" class="nav-link active"  style="color: aliceblue;">  Start Test</a></button>

<script type="text/javascript" src="/theme/js/jquery.min.js"></script>
<script type="text/javascript" src="/theme/js/jquery.timer.min.js"></script>
